:root {
    --blue: #00647d;
    --orange: #fa6432;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin: none;
    padding: none;
    color: var(--orange);
    font-size: 2em;
}

hr {
    border: 1px solid var(--blue)
}