/* General */

*,
::after,
::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
}

#about,
#services,
#portfolio,
#contact {
    margin-top: 4rem;
    padding-top: 4rem;
}

.h1,
.h2,
.h4,
h1,
h2,
h4 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

.h2,
h2 {
    font-size: calc(1.325rem + .9vw);
}

.h4,
h4 {
    font-size: calc(1.275rem + .3vw);
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

a {
    color: darksalmon;
    text-decoration: underline;
}

ul {
    margin-top: 0;
    margin-bottom: 1rem;
    padding-left: 2rem;
}

.navbar-container {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
}

.container {
    width: 100%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.text-center {
    text-align: center !important;
}

img {
    vertical-align: middle;
}

/* Navbar */

.navbar {
    padding: 0.5rem 0;
    background-color: rgb(0, 0, 0);
}

.navbar-logo {
    color: pink;
    font-size: 1.25rem;
    text-decoration: none;
}

.navbar-list {
    display: flex;
    margin-bottom: 0;
    list-style: none;
    margin-left: auto !important;
}

.nav-link {
    color: pink;
    display: block;
    padding: 0.5rem 0;
    text-decoration: none;
}

.navbar-nav {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1080;
}

/* Home */

.hero_image {
    height: 100vh;
    background: url(images/heroImage.jpg);
    background-size: cover;
}

.hero_title {
    font-size: 4.5rem;
}

.hero_desc {
    font-size: 2rem;
}

.hero-text {
    text-align: start;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* About */

.about {
    width: 100%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin-right: auto;
    margin-left: auto;
}

.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--gutter-x) * .5);
    padding-left: calc(var(--gutter-x) * .5);
    margin-top: var(--gutter-y);
}

.row {
    --gutter-x: 1.5rem;
    --gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--gutter-y));
    margin-right: calc(-.5 * var(--gutter-x));
    margin-left: calc(-.5 * var(--gutter-x));
}

.pfp {
    padding-right: calc(1.5rem * .5);
    padding-left: calc(1.5rem * .5);
    margin-right: auto;
    margin-left: auto;
    flex: 0 0 auto;
    width: 33.33333333%;
    margin-top: 1.5rem !important;
}

.pfp>* {
    width: 100%;
}

/* Service */

/* Portfolio */

/* Media */

@media (min-width: 576px) {

    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {

    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {

    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {

    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {

    .container {
        max-width: 1320px;
    }
}

@media (min-width: 992px) {
    .navbar .navbar-list .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem
    }
}

@media (min-width: 992px) {
    .navbar .navbar-list {
        flex-direction: row;
    }
}

@media (min-width: 992px) {
    .navbar .navbar-nav {
        display: flex !important;
        flex-basis: auto;
    }
}

@media (min-width: 992px) {
    .navbar {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
}

@media (min-width: 992px) {


    .intro-short {
        flex: 0 0 auto;
        width: 66.66666667%;
    }
}

@media (min-width: 768px) {


    .intro-list {
        flex: 0 0 auto;
        width: 50%;
    }
}