body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: #eee;
}

h1 {
    display: flex;
    justify-content: center;
    color: white;
    border-radius: 5px;
    background-color: maroon;
}

h2 {
    padding-left: 10px;
    border-left: solid #3A96F2 6px;
    background-color: #DEFFFF;
}

p {
    color: grey;
    margin-bottom: 25px;
}

#extra {
    display: inline;
    font-weight: 700;
}

.lijntje {
    font-weight: 700;
    text-decoration: underline;
}