* {
    display: flex;
}

#intro,
b {
    display: inline;
}

body {
    flex-direction: column;
    background-color: lightgrey;
}

.Header {
    justify-content: center;
    color: white;
    border: solid darkred 5px;
    border-radius: 5px;
    background-color: darkred;
}

span {
    border: solid #DEFFFF 5px;
    background-color: #DEFFFF;
}

.Sub-Header {
    color: black;
}

.stupid-green-block {
    border: solid #3A96F2 5px;
    background-color: #3A96F2;
    margin: -4.5px;
}

.end+* {
    display: none;
}